* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: lightcyan;
}

h1 {
  background-color: #081b51;
  color: whitesmoke;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 3rem;
}

.choices:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #081b31;
  border: 1px solid #081b51;
  border-radius: 50%;
}

img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 3rem;
  gap: 3rem;
}

#user-score,#comp-score {
  font-size: 5rem;
}
.msg-container {
  margin-top: 3rem;
}
#msg {
  background-color: palevioletred;
  color: whitesmoke;
  font-size: 2rem;
  display: inline;
  border: 1rem dashed aquamarine;
  border-radius: 1rem;
}